Package: dev.jeffresc.songshare
Name: SongShare
Depends: mobilesubstrate, firmware (>=10.0), ws.hbang.common (>= 1.15.1), com.cokepokes.libnotifications (>= 0.3)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Easily share songs with friends!
Maintainer: Jeff Rescignano
Author: Jeff Rescignano
Section: Tweaks
