<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>SWCTitleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>askBeforeCopying</string>
			<key>label</key>
			<string>Ask Before Copying New URL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>displayNotifications</string>
			<key>label</key>
			<string>Display Notification After Copying New URL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>pasteOrigURL</string>
			<key>label</key>
			<string>Additionally Paste Original URL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>wifiOnlyMode</string>
			<key>label</key>
			<string>Only Convert on Wi-Fi</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Types of links to automatically convert</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledAmazon</string>
			<key>label</key>
			<string>Amazon / Amazon Music</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledAppleMusic</string>
			<key>label</key>
			<string>Apple Music / iTunes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledDeezer</string>
			<key>label</key>
			<string>Deezer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledGooglePlay</string>
			<key>label</key>
			<string>Google Play</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledNapster</string>
			<key>label</key>
			<string>Napster</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledSoundCloud</string>
			<key>label</key>
			<string>SoundCloud</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledSpinrilla</string>
			<key>label</key>
			<string>Spinrilla</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledSpotify</string>
			<key>label</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledTidal</string>
			<key>label</key>
			<string>Tidal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledYandex</string>
			<key>label</key>
			<string>Yandex</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>dev.jeffresc.songshareprefs</string>
			<key>key</key>
			<string>enabledYouTube</string>
			<key>label</key>
			<string>YouTube</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>56</integer>
			<key>label</key>
			<string>Jeff Rescignano</string>
			<key>user</key>
			<string>JeffRescignano</string>
			<key>action</key>
			<string>twitterLink</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Visit My Website 🌐</string>
			<key>action</key>
			<string>Website_Link</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donateViaPayPal</string>
			<key>label</key>
			<string>Donate ❤️</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>legalLink</string>
			<key>label</key>
			<string>Legal Notice ⚖️</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>sourceCode</string>
			<key>label</key>
			<string>Source Code 📁</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>informationLink</string>
			<key>label</key>
			<string>Package Information ℹ️</string>
		</dict>
	</array>
	<key>title</key>
	<string>SongShare</string>
</dict>
</plist>
